<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.article.mapper.ArticleContentMapper">
	
	<select id="selectArticleWithWriterInfoById" resultType="com.kgitbank.spring.domain.article.dto.ArticleDto">
		SELECT
		    a.*, m.id as writer_id, m.name as writer_name, m.img_path
		FROM
		    articles a
		    INNER JOIN members m
		    ON a.writer_seq_id = m.seq_id
		WHERE
			a.id = #{id}
	</select>
	
	<select id="selectFileByArticleId" resultType="FileVO">
		SELECT * FROM files WHERE article_id = #{articleId}
	</select>
	
	
	<insert id="insertArticle">
		INSERT INTO
			articles
		VALUES (
			article_seq.nextval, #{writerSeqId}, #{content}, sysdate
		)
	</insert>
	
	<insert id="insertTags">
		<selectKey keyProperty="articleId" resultType="int" order="BEFORE">
			SELECT article_seq.currval FROM dual
		</selectKey>
		<foreach collection="list" item="tag" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO tag (
				article_id, tag_name
			) VALUES (
				#{articleId}, #{tag.tagName}
			)
   		</foreach>
	</insert>
	
	<insert id="insertFiles">
		<selectKey keyProperty="articleId" resultType="int" order="BEFORE">
			SELECT article_seq.currval FROM dual
		</selectKey>
		<foreach collection="list" item="file" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
			INTO files (
				article_id, img_path
			) VALUES (
				#{articleId}, #{file.imgPath}
			)
   		</foreach>
	</insert>
	
	
	
	
</mapper>