<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.article.mapper.ArticleContentMapper">
	
	<select id="selectOne" resultType="com.kgitbank.spring.domain.article.dto.ArticleContentDto">
		SELECT
		    a.*, m.id as writer_id, m.name as writer_name, m.img_path
		FROM
		    articles a
		    INNER JOIN members m
		    ON a.writer_seq_id = m.seq_id
		WHERE
			a.id = #{id}
	</select>
	
</mapper>