<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.account.mapper.AccountMapper">
	<select id="getLogin" resultType="com.kgitbank.spring.model.Member">
		<![CDATA[
			SELECT
	    		*
			FROM 
				member 
			WHERE email = #{email} AND pw = #{pw}
		]]>		
	</select>
	
	<update id="keepLogin">
		update member set sessionkey = #{sessionId}, sessionlimit = #{next} where email=#{email}
	</update>
	
	<select id="checkUserWithSessionkey" resultType="com.kgitbank.spring.model.Member">
		select * from member where sessionkey = #{sessionId} and sessionLimit > sysdate
	</select>

	<!-- 회원가입 -->
	<insert id="signUp">
	
		INSERT INTO members VALUES(
		
		#{id},
		#{pw},
		#{name},
		#{phone},
		#{email},
		#{profile},
		sysdate
		
		)
		
	</insert>
	
	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">
	
		SELECT count(*) FROM members WHERE ID = #{id} 
	
	</select>
	
	<!-- 유저 정보 인증 -->
	<select id="userAuth" resultType="com.kgitbank.spring.domain.model.MemberVO">
	
		SELECT * FROM members WHERE ID = #{id}
	
	</select>
	
	<!-- 비밀번호 재설정 -->
	<select id="resetPw" resultType="com.kgitbank.spring.domain.model.MemberVO">
		
		SELECT * FROM members WHERE ID = #{id}
		
	</select>
	
	<!-- 비밀번호 변경 완료 -->
	<update id="changedPw">
	
		UPDATE
			members
		SET
			pw = #{pw}
			
		WHERE
			id = #{id}	
				
	</update>
	
</mapper>