<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.account.mapper.AccountMapper">
	<select id="getLogin" resultType="com.kgitbank.spring.domain.model.MemberVO">
		<![CDATA[
			SELECT
	    		*
			FROM 
				members
			WHERE id = #{id}
		]]>		
	</select>
	
	
	<update id="keepLogin">
		update members set sessionkey = #{sessionId}, sessionlimit = #{next} where email=#{email}
	</update>
	
	<select id="checkUserWithSessionkey" resultType="com.kgitbank.spring.domain.model.MemberVO">
		select * from members where sessionkey = #{sessionId} and sessionLimit > sysdate
	</select>

	<insert id="loginHistory">
		insert into logins values(
			login_seq.nextval,
			#{memberSeqId},
			sysdate,
			null,
			#{ip}
		)
	</insert>

	<!-- 회원가입 -->
	<insert id="signUp">
	
		INSERT INTO members VALUES(
		
		member_seq.nextval,
		#{id},
		#{pw},
		#{name},
		#{phone},
		#{email},
		null,
		sysdate,
		null,
		null,
		null
		
		)
		
	</insert>
	
	<!-- 아이디 중복검사 -->
	<select id="idCheck" resultType="int">
	
		SELECT count(*) FROM members WHERE ID = #{id} 
	
	</select>
	
	
	
	<!-- 이메일 중복검사 -->
	<select id="emailCheck" resultType="int">
		
		SELECT count(*) FROM members WHERE EMAIL = #{email}
	
	</select>
	
	<!-- 아이디 정보 인증 -->
	<select id="viewIdList" resultType="com.kgitbank.spring.domain.model.MemberVO">
		
		SELECT * FROM members WHERE EMAIL = #{email}
	
	</select>
	
	<!-- 유저 정보 인증 -->
	<select id="userAuth" resultType="com.kgitbank.spring.domain.model.MemberVO">
	
		SELECT * FROM members WHERE ID = #{id}
	
	</select>
	
	<!-- 비밀번호 재설정 -->
	<select id="resetPw" resultType="com.kgitbank.spring.domain.model.MemberVO">
		
		SELECT * FROM members WHERE ID = #{id}
		
	</select>
	
	<!-- 비밀번호 변경 완료 -->
	<update id="changedPw">
	
		UPDATE
			members
		SET
			pw = #{pw}
			
		WHERE
			id = #{id}	
				
	</update>
	
	
	<select id="selectMemberById" resultType="MemberVO">
		SELECT seq_id FROM members WHERE id = #{id}
	</select>
	
</mapper>