<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kgitbank.spring.domain.model.mapper.ArticleMapper">

	<select id="selectAll" resultType="ArticleVO">
		SELECT * FROM articles
	</select>
	
	<insert id="createNewArticle">
		INSERT INTO
			articles
		VALUES
			(article_seq.nextval, #{writerSeqId}, #{content}, sysdate)
	</insert>
	
</mapper>