<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.chat.mapper.ChatMapper">

	<!-- 메세지 저장 (임시) -->
	<insert id="messageSave">
	
		INSERT INTO messages VALUES(
					
		#{message}
				
		)
		
	</insert>
	
	<!-- 메세지 정보 저장 -->
	<insert id="saveMessage">
	
		INSERT INTO messages VALUES(
		msg_seq.nextval,
		#{bang_id},
		#{senderId},
		#{receiverId},
		#{cmd},
		#{content},
		sysdate
		
		)
	
	</insert>
	
</mapper>