<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.chat.mapper.ChatMapper">
	
	<select id="selectMemberById" resultType="MemberVO">
		SELECT * FROM members WHERE id = #{id}
	</select>
	
	<select id="selectRoomIdByUserSeqIds" resultType="com.kgitbank.spring.domain.chat.dto.ChattingRoom">
		SELECT * FROM chat_room WHERE small_user_seq_id = ${smallUserSeqId} AND large_user_seq_id = #{largeUserSeqId}
	</select>
	
	<insert id="createRoomId">
		<selectKey keyProperty="seqId" resultType="int" order="BEFORE" >			   
    		SELECT room_seq.nextval FROM DUAL
 		</selectKey>
			INSERT INTO 
				chat_room
			VALUES
				(#{seqId}, #{smallUserSeqId}, #{largeUserSeqId})	
	</insert>

	<insert id="insertMessage">
		INSERT INTO
			messages_r (seq_id, sender_seq_id, room_id, content, send_date, read)
		VALUES
			(msg_r_seq.nextval, #{senderSeqId}, #{roomId}, #{content}, #{sendDate}, #{read})
	</insert>
	
	<select id="selectMessageByRoomId" resultType="com.kgitbank.spring.domain.model.MessageVO">
		SELECT
		    msg.*,
		    mem.id as sender_id
		FROM
		    messages_r msg
		    INNER JOIN members mem
		    ON msg.sender_seq_id = mem.seq_id
		WHERE
		    msg.room_id = #{roomId}
		ORDER BY msg.seq_id
	</select>
	
	<update id="updateMessageRead">
		UPDATE messages_r
		SET
			read = 'Y'
		WHERE
			room_id = #{roomId} AND sender_seq_id != #{seqId} AND read = 'N'
	</update>
	
	<select id="selectContactList" resultType="com.kgitbank.spring.domain.chat.dto.ContactDto">
		SELECT 
		    a.*,
		    m.id as user_id,
		    m.img_path
		FROM
		    (SELECT 
		        MAX(m.send_date) as send_date,
		        r.small_user_seq_id as user_seq_id
		    FROM 
		        messages_r m
		        INNER JOIN chat_room r 
		        ON m.room_id = r.seq_id
		    WHERE r.large_user_seq_id = #{userSeqId}
		    GROUP BY r.small_user_seq_id
		    
		    UNION
		    
		    SELECT 
		        MAX(m.send_date) as send_date,
		        r.large_user_seq_id as user_seq_id
		    FROM 
		        messages_r m
		        INNER JOIN chat_room r 
		        ON m.room_id = r.seq_id
		    WHERE r.small_user_seq_id = #{userSeqId}
		    GROUP BY r.large_user_seq_id
		    
		    ORDER BY send_date DESC) a
		    INNER JOIN members m
		    ON a.user_seq_id = m.seq_id
	</select>

</mapper>