<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.myprofile.mapper.MyprofileMapper">
	
	 <update id="updateMyprofile" parameterType="MemberVO">
	  	UPDATE
	  		members
	  	SET
  		 	name = #{name},
  		 	email = #{email},
  		 	profile = #{profile},
  		 	phone = #{phone}
  		 WHERE
  		 	id = #{id}
	  </update>
	  
	  <!-- edit화면에서 정보 불러오기 -->
	  <select id="getEditInfo" resultType="String">
	  	SELECT
		    *
		FROM 
			members
		WHERE 
			id = #{id}
	  </select>
	  
	  <update id="updatepw">
	  	UPDATE
	  		members
	  	SET
  		 	pw = #{pw}
  		 WHERE
  		 	id = #{id}
	   </update>
	   
	   <select id="currentpw" resultType="String">
	    SELECT
	   		pw
	    FROM
	   		members
	   	WHERE
	   		id = #{id}
	   </select>
	   
	   <select id="getLoginActivityList" resultType="com.kgitbank.spring.domain.model.LoginVO">
	   		SELECT distinct
	   			location, login_date, ip
	   		FROM 
	   			members 
	   		JOIN 
	   			logins
	   		ON 
	   			logins.member_seq_id = #{memberSeqId}
	   		ORDER BY
	   			login_date desc
	   </select>
	   
	   <select id="getSeqId" resultType="Integer">
	   	SELECT
		    seq_id
		FROM 
			members
		WHERE
			id = #{id}
	   </select>

</mapper>


