<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.myprofile.mapper.ProfileMainMapper">
	
	<select id="selectMemberById" resultType="com.kgitbank.spring.domain.myprofile.dto.ProfileDto">
		SELECT * FROM members
		WHERE id = #{id}
	</select>
	
	<select id="selectArticleSummarys" resultType="com.kgitbank.spring.domain.myprofile.dto.ArticleSummaryDto">
		SELECT
		    a.*, 
		    alc.like_count,
		    cc.comment_count
		FROM
		    articles a
		    LEFT OUTER JOIN
		    (SELECT article_id, COUNT(*) as like_count FROM article_like GROUP BY article_id) alc
		    ON a.id = alc.article_id
		    LEFT OUTER JOIN
		    (SELECT article_id, COUNT(*) as comment_count FROM comments GROUP BY article_id) cc
		    ON a.id = cc.article_id
		WHERE
		    writer_seq_id = #{writerSeqId}
		ORDER BY id DESC
	</select>
	
	
</mapper>