<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.spring.domain.myprofile.mapper.ProfileMainMapper">
	
	<select id="selectMemberById" resultType="com.kgitbank.spring.domain.myprofile.dto.ProfileDto">
		SELECT * FROM members
		WHERE id = #{id}
	</select>
	
</mapper>