@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;

}

img {
    pointer-events: none;
}

.story-container ul{
    list-style-type: none;
    user-select: none;
    display: flex;
    overflow-y: auto;
    padding: 20px 0;
}

.story-container ul li{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.story-container ul li:first-child{
    padding-left: 20px;
}

.story-container ul li:last-child{
    padding-right: 20px;
}

.story-container ul li .story{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .75);
    padding: 1px;
    position: relative;
}

.story-container ul li.has-story .story{
    padding: 2px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.story-container ul li .story img{
    padding: 4px;
    background: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}



.story-container ul li span{
    color: black;
    font-weight: 300;
    font-size: 15px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;

}



.link-menu {
    color: black;
}

.topbar-profile-photo {
    width: 1.5em; 
    height: 1.5em; 
    position: relative;
}

.story-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
    border-width: 2px !important;
}

.post-profile-photo {
    width: 46px; 
    height: 46px; 
    position: relative; 
    border-width: 2px !important;
}

.sidenav-profile-photo {
    width: 56px; 
    height: 56px; 
    position: relative; 
}

.comment-box {
    border-top: 1px solid lightgray;
}

.input-post {
    outline: none;
}

.btn-ig {
    background-color: transparent;
    border: 0;
    color: #007bff;
    font-weight: 600;
    right: 0;
    bottom: 0;
    top: 0;
    outline: none !important;
}

.btn-ig:hover,
.btn-ig:focus {
    background-color: transparent !important;
    color: #007bff !important;
}

.profile-info {
    font-size: 14px;
}

.profile-info-username {
    display: block;
    font-weight: 700;
}

.sugest-profile-photo {
    width: 46px; 
    height: 46px;  
    position: relative;
}

.sugest-username {
    font-size: 14px
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.heart-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.content{
  padding: 13px 16px;
  display: flex;
  cursor: pointer;
}

.heart{
  position: absolute;
  background: url("images/img.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;

  transform: translate(-50%,-50%);
}
.text{
  font-size: 21px;
  margin-left: 30px;
  color: grey;
  font-family: 'Montserrat',sans-serif;
}
.numb:before{
  content: '12';
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9C9496;
  font-family: sans-serif;
}
.numb.heart-active:before{
  content: '13';
  color: #000;
}
.text.heart-active{
  color: #000;
}
.heart.heart-active{
  animation: animate .8s steps(28) 1;
  background-position: right;
}
@keyframes animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

i {
    font-style: italic;
}

input, select, textarea {
    background-color: #fff;
    color: #1c1e21;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="file" i] {
    appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

#facebook ._-kb button, #facebook ._-kb input, #facebook ._-kb label, #facebook ._-kb select, #facebook ._-kb td, #facebook ._-kb textarea {
    font-family: inherit;
}





div {
    display: block;
}

.container {
    margin-bottom: 16px;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.post-box{
    display: flex;
    width: 100%;
    position: relative;
    
}

.post-box-inside{
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    --T68779821: 0 1px 2px var(--shadow-2);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.post-label{
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.post-feeling{
    width: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.head-line{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    clip-path: polygon(0 0,0 0,0 0,0 0);
    position: absolute;
}

.timeline{
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: inherit;
    text-decoration: none;
    touch-action: manipulation;
    outline: none;
    position: relative;
}

.my-profile{
    position: relative;
}

.profile-img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: block;

}

.profile-img-inside{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    --T68779821: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: var(--T68779821);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0
}

.profile-img-inside:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.profile-img-middle{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition-duration: var(--fds-duration-extra-extra-short-out);
    transition-property: opacity;
    transition-timing-function: var(--fds-animation-fade-out);
    background-color: #f0f2f5;
}

.text-box{
    -webkit-tap-highlight-color: transparent;
    background-color: #f0f2f5;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    text-align: inherit;
    text-decoration: none;
    touch-action: manipulation;
    outline: none;
    position: relative;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-direction: row;
    flex-grow: 1;
    height: auto;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 40px;
}

.text-box:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.text-box-inside{
    color: #65676b;
    font-size: 1.0625rem;
    word-wrap: break-word;
    width: 100%;
}

.text{
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.text-bottom{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition-duration: var(--fds-duration-extra-extra-short-out);
    transition-property: opacity;
    transition-timing-function: var(--fds-animation-fade-out);
    background-color: rgba(0, 0, 0, 0.5);
}

.category{
    width: 100%;
    padding-top: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 12px;
    justify-content: space-around;
    height: 40px;
    flex-wrap: wrap;
    display: flex;
    border-top: solid 1px #e4e6eb;
}

.category-button{
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    background-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.4);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-left-color: rgba(0, 0, 0, 0.4);
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-basis: 0px;
    flex-direction: row;
    flex-shrink: 1;
    list-style: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    min-height: 0;
    min-width: fit-content;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
    text-align: inherit;
    text-decoration: none;
    touch-action: manipulation;
    z-index: 0;
    outline: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    flex-grow: 1;
    justify-content: center;

}

.category-button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.category-button-inside{
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1.0667;
    overflow-x: hidden;
    overflow-y: hidden;
}

.category-img{
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 8px;
}


category-button-inside img{
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-position: 0 -82px;
}

.category-box{
    max-width: 100%;
    min-width: 0;
    word-break: break-word;
    word-wrap: break-word;
    font-family: var(--font-family-segoe)!important;
    display: block;
    line-height: 1.3333;
    font-weight: 600;
    color: #65676b;
    
}

.category-box::before{
    content: "";
    display: block;
    height: 0;
    margin-top: -5px;
}

.category-box::after{
    content: "";
    display: block;
    height: 0;
    margin-bottom: -4px;
}

.category-box-inside{
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-upload{
    display: none;
}

.story-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
